<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ServiceName" value="theName"></add>
    <add key="DisplayName" value="theDisplayName"></add>
    <add key="Description" value="theDescription"></add>
    <add key="watchPath" value="\\local\network\sub folder\"/>
    <add key="fileToWatch" value="file.ext"/>
    <add key="userName" value="SERVER01\admin"/>
    <add key="password" value="adminpass"/>
    <add key="serverPath" value="ftp://000.000.000.0:00/folder"/>
    <add key="interval-minutes" value="1"/>
  </appSettings>
</configuration>
